
    .footer {
        background-color: var(--primarioOscuro);
        padding: 0.2rem ;
        margin-top: 18rem ;
    }
    .footer__texto {
        font-family: var(--fuenteHeading);
        text-align: center;
        font-size: 2.1rem;
    }
